# -*- mode: conf -*-
# Install under /etc/udev/rules.d/52-garmin-usb.rules
# Garmin ANT+ – USB1
SUBSYSTEM=="usb", ATTRS{idVendor}=="0fcf", ATTRS{idProduct}=="1004", RUN+="/sbin/modprobe usbserial vendor=0x0fcf product=0x1004", MODE="0666", OWNER="pi", GROUP="root"
# Garmin ANT+ – USB2
SUBSYSTEM=="usb", ATTRS{idVendor}=="0fcf", ATTRS{idProduct}=="1008", RUN+="/sbin/modprobe usbserial vendor=0x0fcf product=0x1008", MODE="0666", OWNER="pi", GROUP="root"
# hLine USB2 ANT2
SUBSYSTEM=="usb", ATTRS{idVendor}=="0fcf", ATTRS{idProduct}=="1009", RUN+="/sbin/modprobe usbserial vendor=0x0fcf product=0x1009", MODE="0666", OWNER="pi", GROUP="root"

